/* your styles go here */
#row-top{
  margin-top: 10px;
}

#row-bottom{
  margin-top: 10px;
}

.col-md-13 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
